*
!.vscode
!.vscode/**
.vscode/launch.json
.vscode/settings.json

!doc
!doc/**
doc/minishell\ 10.0.pdf

!tester
!tester/**

!inc
!inc/**

!src
!src/**

!.readline.supp
!leaks
!Makefile
!.gitignore
!README.md
!README_es.md
!LICENSE
!Minishell.png
