*
!.vscode
!.vscode/**
.vscode/launch.json
.vscode/settings.json
!doc
!doc/**
doc/minishell\ 8.3.pdf
!tester
!tester/**
!inc
!inc/**
!src
!src/**
!.readline.supp
!leaks
!Makefile
!.gitignore
!README.md
!LICENSE